{% load i18n %}
{% load static %}

<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}</p>
<p>{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{% translate "Reset your password" %}</a></p>
<p>{% blocktrans %}Your username, in case you've forgotten: {{ user.get_username }}{% endblocktrans %}</p>
<p>{% blocktrans %}Thanks for using our site!{% endblocktrans %}</p>
<p>{% translate "The {{ site_name }} team" %}</p>

<p>{% blocktrans %}You received this email because a request was made to reset the password for this account. If you did not make this request, please ignore this email.{% endblocktrans %}</p>
